<!-- add-instrument-dialog.component.html -->
<h2>Agregar Instrumento</h2>
<mat-form-field>
  <mat-label>Seleccionar Instrumento</mat-label>
  <mat-select [(value)]="selectedInstrument">
    <mat-option *ngFor="let instrumento of availableInstruments" [value]="instrumento.idInstrumento">
      {{ instrumento.nombre }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>O agregar uno nuevo</mat-label>
  <input matInput [(ngModel)]="newInstrumentName" placeholder="Nombre del instrumento" />
</mat-form-field>

<div class="dialog-actions">
  <button mat-button (click)="close()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="addInstrument()">Agregar</button>
</div>
